upstream keycloak_app {
    server 127.0.0.1:{{keycloak_http_port}};
}

server{
    server_name {{keycloak_host}};

{%if (nginx_certificate_file is defined and nginx_certificate_file != "" and nginx_certificate_file != None) and 
(nginx_key_file is defined and nginx_key_file != "" and nginx_key_file != None)%}
     listen   443 ssl;
     ssl on;
     ssl_certificate      /etc/nginx/certs/{{nginx_certificate_file}};
     ssl_certificate_key  /etc/nginx/certs/{{nginx_key_file}};
{%else%}
     listen   80;
{%endif%}
    access_log             /var/log/nginx/nginx.keycloak.access.log;
    error_log              /var/log/nginx/nginx.keycloak.error.log;

    location /{{keycloak_http_relative_path}} {
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Forwarded $remote_addr;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_pass http://keycloak_app;
    }
}